body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.photo {
    background-color: #ddd;
    margin: 1px;
    box-sizing: border-box;
}